@page "/fatherComponent"
<h1>FatherComponent - Son</h1>
<SonComponent  @ref="sonComp" OnClickButtonMethod="ShowMessage" Title="First Son Component">
    <ChildContent>
        Show Content of RenderFragment from principal Component
    </ChildContent>
    <SecondChildContent>
        Second Content from RenderFragment
    </SecondChildContent>
</SonComponent>
<SecondSonComponent PlaceHolder="Insert name of the book Parameter" MaxLength="5">

</SecondSonComponent>
<p>
    <b>
        @TextMessage
    </b>
</p>
<div class="row">
    <button class="btn btn-success" @onclick="()=> sonComp.ShowToastrSuccess()">Show Alerts!</button>
</div>
<SonComponent Title="Second Son Component">
</SonComponent>
@code {
    /* Creando un componente hijo PRIVADO, para poder acceder al componente hijo para poder acceder a los métodos que contiene*/
    private SonComponent sonComp;
    private string TextMessage = "";
    private void ShowMessage(MouseEventArgs e)
    {
        TextMessage = "Text from father's component";
    }
}
