<div>
    <div class="alert alert-info">
        @Title
    </div>
    <span>@ChildContent</span>
    <div class="alert alert-success">
        @if (SecondChildContent == null)
        {
            @if (ChildContent == null)
            {


                <span>Upps not Content</span>
            }
            else
            {
                <span>@ChildContent</span>
            }
            }
            else
            {
                <span>@SecondChildContent</span>
            }

    </div>
    <button class="btn btn-danger" @onclick="OnClickButtonMethod">
        Click
    </button>
</div>

@code {
    [Parameter]
    public string Title {get; set;}
    /* Recibir contenido desde el componente Padre. */
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public RenderFragment SecondChildContent { get; set; }
    /* Otra forma de usar CallBacks */
    [Parameter]
    public EventCallback<MouseEventArgs> OnClickButtonMethod { get; set; }


}
